@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: rgba(40, 43, 50, 1);
}

h1 {
  display: flex;
  justify-content: center;
  color: rgba(245, 245, 245, 1);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(60, 62, 68, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
  width: 600px;
  padding: 10px 0;
  position: relative;
}

.search-bar span {
  color: rgb(255, 255, 255);
}

.select-filter {
  width: 100px;
  border: none;
  border-radius: 0.2rem;
}

.search-bar input {
  width: 300px;
  border: none;
  border-radius: 0.2rem;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cards {
  display: flex;
  border-radius: 0.5rem;
  background-color: rgba(60, 62, 68, 1);
  margin: 0.75rem;
  width: 600px;
  height: 220px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cards .card-image {
  width: 100%;
  flex: 2 1 0%;
}

.cards img {
  width: 100%;
  height: 100%;
}

.cards .card-content {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.cards .card-section {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.status__icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}

.grey-text {
  color: rgb(158, 158, 158);
}

#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(158, 158, 158);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 0.75rem;
  padding: 10px 20px;
  cursor: pointer;
}
