@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #393e46;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#movie-form {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background-color: #222831;
  padding: 20px;
}

#movies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: #222831;
  color: #eeeeee;
}

.delete-button {
  border: none;
  background-color: #222831;
  color: #eeeeee;
}

.delete-button:hover {
  cursor: pointer;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.movie-haeder {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #393e46;
  padding: 10px 0;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #393e46;
  padding: 10px 0;
}

.comments button:hover {
  cursor: pointer;
}

.comments {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.add-comment-btn {
  background-color: #222831;
  color: #eeeeee;
  /* border: none; */
}

.comment-text,
.movie-name {
  font-weight: 700;
  font-size: 20px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 260px;
  border-bottom: 1px solid #393e46;
  padding-bottom: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  width: 70%;
}

.changeButtons {
  display: flex;
  position: relative;
  left: 37%;
  gap: 10px;
  margin-top: 22px;
}

.changeButtons button {
  background-color: #222831;
  color: #eeeeee;
  font-size: 10px;
  border: 1px solid #393e46;
  box-shadow: 1px 1px 10px #393e46;
}

.changeButtons button:hover {
  cursor: pointer;
}

.comment-textarea {
  background-color: #77777765;
  color: #eee;
}

.comment-textarea::placeholder {
  color: #eee;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 7px;
}

@media screen and (max-width: 660px) {
  main {
    width: 100%;
  }

  #movie-form {
    flex-direction: column;
    width: 260px;
  }
}
